<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .page-not-found{
        text-align: center;
    }
    .image-404{
        margin: auto;
        max-width: 400px;
    }
</style>
<body class="page-not-found">
    <img class="image-404" src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg"/>
    <h2>page not found</h2>
</body>
</html>