<%- include('partial/header.ejs') %>
<%- include('partial/menu.ejs') %>
    <div style="padding: 10px 30px">
      <section id="home">
        <h1>Welcome to Our Company</h1>
        <p>
          We are a team of passionate professionals dedicated to delivering
          exceptional services.
        </p>
      </section>

      <section id="about">
        <h2>About Us</h2>
        <p>
          Our company was founded in 2010 with a mission to provide innovative
          solutions to our clients.
        </p>
      </section>

      <section id="services">
        <h2>Our Services</h2>
        <ul>
          <li>Web Development</li>
          <li>Mobile App Design</li>
          <li>Digital Marketing</li>
          <li>Content Creation</li>
        </ul>
      </section>
    </div>
 
    <%- include('partial/footer.ejs') %>