<style>
    body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      min-height: calc(100vh - 50px);
      padding-bottom: 50px;
      position: relative;
    }
    .navigation {
      background-color: #2177b1;
      padding: 15px 0;
      margin-bottom: 20px;
    }

    .navigation ul {
      display: flex;
      list-style-type: none;
    }

    .navigation li {
      margin-right: 20px;
    }

    .navigation a {
      color: white;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    .navigation a:hover,
    .navigation a.active {
      color: #101c6d;
    }

    @media (max-width: 768px) {
      .navigation ul {
        flex-direction: column;
        align-items: center;
      }

      .navigation li {
        margin-bottom: 10px;
      }

      .navigation a.active {
        display: none;
      }
    }

    @media (min-width: 769px) {
      .navigation a.active {
        display: block;
      }
    }
    footer {
      background-color: #2177b1;
      padding: 15px 0;
      text-align: center;
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .input-product {
        padding: 10px;
      }
      form {
        margin: auto;
        text-align: center;
      }
      form button {
        padding: 10px;
      }
  </style>
</head>
<body>
  <nav class="navigation">
    <ul>
      <li><a href="/product">product</a></li>
      <% if (isLoggedIn) { %>
        <li><a href="/admin/add-product" class="active">add product</a></li>
    <% }  %>
     
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    </nav>